.detailsPage {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 5%;
    align-items: center;
}
.twine {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 25% 70%;
    grid-column-gap: 5%;
    height: 250px;
}

.workview {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.apply-btn {
    width: 250px;
    height: 50px;
    border: none;
    outline:none;
    border-radius: 4px;
    font-family: 'kalam',cursive;
    font-size: 20px;
    background-color: rgb(24, 24, 90);
    color: #fff;
}

.apply-btn:hover {
    background-color: rgb(131, 131, 247);
    color: rgb(24, 24, 90);
}