.detailsPage {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 5%;

}
.twine {
    display: flex;
    justify-content: space-around;
}

.workview{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
