li{
  style:none;
}

.file-upload{
  display: flex;
  flex-direction: column;
  background-color: #ffeaa9;
  width: 100%;
  border: 1px solid #fbfbfc;
  border-radius: 10px;
  padding: 25px;
  margin: 25px;
  opacity:0.8;
  align-items: center;
}

.upload-zone {
  background-color: #fff !important;
  outline: none;
  color: #FFF;
  border: none;
  border-radius: 4px;
  height: 40px;
  margin-bottom: 20px;

}

.upload-btn {
  width: 150px;
  height: 40px;
  background-color: #e55987!important;
  color: #FFF;
  border: none;
  border-radius: 4px;
  outline: none;
}