.mcard {
    width: 70%;
    background-color: #E0E0E0;
    border: solid 1px #FFC6D9;
    cursor: pointer;
    margin: 2% auto;
    text-decoration-line: none;
}

.card {
    display: flex;
    padding: 2% 2% 1% 2%;
    justify-content: flex-start;
}

.card-left{
    width: 25%;
    
}

.card-right {
    width: 70%;
    padding: 0 0% 0 3%;
}

.imageCard {
    width: 190px;
    height: 185px;
    margin: 1% 2%;
    border: solid brown;
    border-radius: 5%;
}

.cardDitails {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.cardLine {
    width: 50%;
    text-align: start;
    font-size: 26pt;
    margin-top: 5px;
    padding-left: 0%;
}

.cardLine span {
    font-weight: bold;
    line-height: 10pt;
    font-size: 16pt;
}

.cardLine p {
    margin-top: 2%;
    font-size: 14pt;
}


.cardTitle {
    font-family: Roboto;
    font-size: 16pt;
    font-weight: bold;
    text-align: start;
    margin: .5% 0 .5% 0;
    line-height: 30pt;
}


.subjectName {
    background-color: #F5AC44;
    align-self: flex-end;
    padding: 2%;
    margin: 0;
    font-size: 28pt;
}