.final-details h2 {
    font-family: 'lato' , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #153C59;
    text-align: left;
    margin-bottom: 25px;
}

.final-details p {
    font-family: 'lato',sans-serif;
    color: rgb(15, 42, 63);
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.final-details input[type=text] {
    width: 300px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #153C59;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0;
    text-align: left;
    padding: 5px;
    outline: none;
    font-family: lato , sans-serif;
    font-size: 15px;
    color: rgb(15, 42, 63);
}

.final-details {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    align-items: center;
}

.special-txt {
    font-size: 14px; 
}

.final-details-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.clicked {
    border: 2px solid rgb(27, 45, 149);
}

.unclicked {

    border: 2px solid #FFFFFF;

}

.pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;    
}

#pic {
    width:100px;
    height: 100px;
    size: 100px;
}

.Q-radio-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}


.last-card input[type="text"] { 
    width: 350px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #153C59;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
}
.Q-radio-btn input[type=radio] {
    width: 20px;
    
}
.Q-radio-btn label {
    font-family: 'lato',sans-serif;
    color: rgb(15, 42, 63);
    font-size: 18px;
    display: grid;
}
