.companyDescription {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 20% 75%;
    grid-column-gap: 5%;
    align-items: center;
    height: 250px;
    padding-right: 50px;
}

.companyLogo img {
    width:380px;
    height: 230px;
    padding: 3%;
}

.companyText p{
    font-family:  'lato' , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14pt;
    text-align: justify;
    color: #153C59;
    margin-top: 25px;
}