.title{
    text-align: center;
    font-family: 'lora', sans-serif;
    font-weight: bold;
}
.signupComponent{
    height: 70%;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    z-index: 2;
}

.msg{
    text-align: center;
    font-family: 'lato',sans-serif;
    color: red;

}

.containerr , .submitdiv{
    margin:4% auto 0%;
    width:100%;
    height: 90%;
    display: inline-flex;
    margin-bottom: 20px;
}

.clm{
    display: inline-block;
    width: 45%;
    margin-bottom: 30px;
}


.react-select{
    width: 60%;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    height: 50px;

}

.clm>.item>input, .clm>.item>select{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #868686;
    border-radius: 3px;
    box-sizing: border-box;
    height: 40px;

}

.clm>.item>input[type=checkbox]{
    height: 25px;
    align-self: flex-start;

}

.clm>.item>label{
    display: inline-block;
    width: 25%;
    color:#5DB1BF;
    font-weight: bold;
    margin-right: 20px;
    text-align: start;
}

.description{
    margin-top:20px
}

.description label{
    display: block;
}

.description textarea{
    width:91%;
    height: 80px;;
}

.submitdiv{
    text-align: center;
}

.signup-help {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

.popular .tape {
    background-color: #00BFFF;
    height: 60px;
    margin: 5px 0;
}

.popular>.tape>h2 {
    color: #FFF;
    font-weight: bold;
    font-size: 22px;
    margin-left: 21px;
    padding: 20px 0 0 0;
}

.signup-title{
    display: inline-block;
    margin: 30px auto 0;
}

.signup-btn {
    width: 250px;
    height: 40px;
    background-color: #00BFFF;
    color: #FFF;
    font-family: 'kalam',sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.signup-btn:hover {
    background-color: #f55a89;
}

.hide-check {
    display: none;
}

.show-check {
    margin-left: 90px;
    font-family: 'lato', cursive;
    color : red;
    display: inline-block;
    font-size: 12px;
    text-indent: 30px;
}