.title{
    text-align: center;
    font-family: Roboto;

}
.signupComponent{
    height: 50vh;
}

.msg{
    text-align: center;
    font-family: Roboto;
    color: red;
    
}
.containerr , .submitdiv{
    margin:4% auto 0%;
    width:100%;
    height: 85%;
}
.clm{
    display: inline-block;
    width: 45%;
    margin-bottom: 50px;
    
}
.react-select{
    width: 66%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box; 
    height: 50px; 
}
.clm>.item>input, .clm>.item>select{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #868686;
    border-radius: 3px;
    box-sizing: border-box; 
    height: 50px;

}

.clm>.item>input[type=checkbox]{
    height: 25px;
    align-self: flex-start;
 
}

.clm>.item>label{
    display: inline-block;
    width: 25%;
    color:#5DB1BF;
    font-weight: bold;
    margin-right: 20px;
}

.description{
    margin-top:20px
}

.description label{
    display: block;
}

.description textarea{
    width:91%;
    height: 80px;;
}
.submitdiv{
    text-align: center;
}
#signup{
    background-color: #00BFFF;
    border-radius: 20px;
    width:170PX;
    height: 30PX;
    font-family: Roboto;
    font-size: 14pt
}

#signup:hover{
    background-color: rgb(175, 186, 190);
}
.signup-help {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

  .popular .tape {
    background-color: #00BFFF;
    height: 60px;
    margin: 5px 0;
}

.popular>.tape>h2 {
    color: #FFF;
    font-weight: bold;
    font-size: 22px;
    margin-left: 21px;
    padding: 20px 0 0 0;
}

.signup-title{
    display: inline-block;
margin: 30px auto 0;

}
