.sign-up {
    display: flex;
    background-color:#57c9c078;
    width:100%;
    height:100vh;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.msg{
    text-align: center;
    font-family: Roboto;
    color: red;
    
}
.containerr , .submitdiv{
    margin:4% auto 0%;
    width:100%;
    height: 85%;
}
.clm{
    display: inline-block;
    width: 45%;
    margin-bottom: 30px;
    
    
}
.react-select{
    width: 60%;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box; 
    height: 50px; 

}
.clm>.item>input, .clm>.item>select{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #868686;
    border-radius: 3px;
    box-sizing: border-box; 
    height: 40px;
    
}

.signup-submit:hover {
    background: #57c9c0;
}
  
.clm label {
    font-size: 14px;
}

.clm>.item>label{
    display: inline-block;
    width: 25%;
    color:#5DB1BF;
    font-weight: bold;
    margin-right: 20px;
    text-align: start;
}

.starPic2 {
    height: 150px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 25px;
    margin-top: 400px;
    transform: rotate(-178deg);
}

.mato-signup {
    color:white;
    font-size: 20px;
    background:#f16d6f;
    border-radius: 2px;
    box-shadow: 10px 10px 5px #5d698a;
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    height: 150px;
    position: relative;
    width: 370px;
}

#sign-up-p {
    margin-top: -317px;
    font-family: 'Kalam', cursive;
    color: #FFFFFF;
    font-size: 40px;
    text-align: start;
}

#spark {
    padding-left: 130px;
    margin-top: -53px;
    height: 43px;
}

#robot {
    font-size: 16px;
    color: #153c59d4;
}

.popular>.tape>h2 {
    color: #FFF;
    font-weight: bold;
    font-size: 22px;
    margin-left: 21px;
    padding: 20px 0 0 0;
}

.signup-title{
    display: inline-block;
margin: 30px auto 0;

}
