.workExperienceView{
    display:grid; 
    grid-template-columns:50% 50%;
    border: 1.5px solid #323232;
    border-radius: 20px;
    align-items:center;
    padding:2%;
    height: 220px;
    width: 85%;
    margin-bottom: 10px;   
 }
 
 .workExperienceView img {
     height: 100%;
     width: 250px;
     border-radius: 10px;
    
 }
    .workExperienceView p {
     /* text-align: justify;
     font-size: 11px;
     letter-spacing: 0.5px;
     /* word-wrap: normal; */
     /* padding: 33px; */ 
     /* text-align: center; */
     
   }