.workExperienceView{
    display:flex; 
    border: solid 1px #FFC6D9;
  
 }
 
 .workExperienceView img {
     height: 150px;
     width: 150px;
 }
 
 .workExperienceView:hover img {
     opacity: 0.6;
   }
 
   img {
     margin: 1%;
   }
 
   p {
     text-align: justify;
     margin: 2%;
     font-size: 16pt;
   }