.workExperienceView{
    display:flex; 
    width: 65%;
   
 }
 
 .workExperienceView img {
     height: 150px;
     width: 150px;
     margin: 1%;
 }
 
 .workExperienceView img:hover {
     opacity: 0.6;
   }
 
   .workExperienceView p {
     text-align: justify;
     margin: 2%;
     font-size: 16pt;
   }