.welcomeworkexperience {
    margin-top: 2%;
    color: #323232;
    font-size: 26pt;
}

.welcomeworkexperience h1 {
    text-align: center;
    font-family: 'lora', sans-serif;
    font-weight: bold;
    padding-top: 20px;
    color: #c83f66;
    font-size: 40pt;
}

.cardLinks a {
    text-decoration: none;
    color: inherit;
    background-color: #fff;
}

.workexp-list {
    background-color: #57c9c078;
    padding-bottom: 10px;
}