.welcomeworkexperience {
    margin-top: 2%;
    color:#323232;
    font-size: 26pt;
}

.welcomeworkexperience h2{
    text-align: center;
}

.cardLinks a {
    text-decoration: none;
    color: inherit;
}