/* inmation using @keyframes
@-webkit-keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
    }
    @keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
    }
 .personal-details2 h2 {
    font-family: 'lato' , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #153C59;
    text-align: left;
    left:20px;
    height: 40px;
    
    }
    
.fourth-section {
    display: grid;
    grid-template-columns:auto auto;
    justify-content: space-evenly;
    grid-gap: 100px;
}
    
.eight-card {
    background-color:#CBFBDB;
    width: 550px;
    height: 730px;
    border: 1px solid #153C59;
    border-radius: 10px;
    margin-right: 220px;
    text-align: left;
}
 .ninth-card {
    background-color:#FBF5BE;
    width: 550px;
    height: 730px;
    border: 1px solid #153C59;
    border-radius: 10px;
}
 
.num {
    padding-top: 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
    color: #153C59;
}
 #num8 {
    margin-left: 50%;
}
 
.shape {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}
 .shape:hover {
    -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
  
.ninth-card input[type="text"] {
    width: 350px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #153C59;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
}
 .personal-details2 p {
    font-family: 'lato',sans-serif;
    color: rgb(15, 42, 63);
    font-size: 18px;
}
 .eight-card p {
    margin-left: 20px;
}
 .special-txt {
    font-size: 14px; 
}
 .ninth-card textarea {
    width: 350px;
    height: 150px;
    background: #FFFFFF;
    border: 1px solid #153C59;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
}
 .select-input {
    display: inline-grid;
    border: 1px solid #153C59;
    height: 42px;
    width: 350px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
 .selector {
    display: inline-grid;
    margin: 20px 84px;
}
 .button {
    width:150px;
    height: 50px; 
}  */

.personal-details2 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    align-items: center;
}

.personal-details1 h2 {
    font-family: 'lato' , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #153C59;
    text-align: center;
    margin-bottom: 25px;

}

.personal-details2 p{
    font-family: 'lato',sans-serif;
    color: rgb(15, 42, 63);
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.special-txt {
    font-size: 14px; 
}

.personal-details2-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 122px;
    margin-bottom: 10px;
}

.personal2-content1 {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 465px;
    padding-right: 70px;
    margin-right: 117px;
}

.personal2-content2 {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 555px;
}

.personal-details2 textarea {
    width: 300px;
    height: 100px;
    background: #FFFFFF;
    border: 1px solid #153C59;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0;
    text-align: left;
    padding: 5px;
    outline: none;
    font-family: lato , sans-serif;
    font-size: 15px;
    color: rgb(15, 42, 63);
}

.select-input {
    display: inline-grid;
    height: 42px;
    width: 350px;
    cursor: pointer;
}

.shape {
    font-family: 'kalam', cursive;
    font-size: 60px;
    margin-top: 32px;
    margin-left: 33px
}

.personal-details2 input[type=text] {
    width: 300px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #153C59;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0;
    text-align: left;
    padding: 5px;
    outline: none;
    font-family: lato , sans-serif;
    font-size: 15px;
    color: rgb(15, 42, 63);
}

.selector {
    display: inline-grid;
    margin-top:20px;
}