.footer{
    display: flex;
    justify-content: center;
    width:100%;
    height: 80px;
    background-color:#E0E1E1;
    align-items: center;
    color:#323232;
    position: absolute;
    
}

.footer p {
    align-self: center;
}

