.done{
  color:green;
  font-weight: bold;
  display: flex;
  margin-top: 5px;
}
.not-done{
color: red;
font-weight: bold;
display: flex;
margin-top: 5px;
}
.my-activity{
  display: flex;
  flex-direction: column;
  background-color: #E0E0E0;
 width: 300px;
 border: 1px solid #011936;
 border-radius: 10px;
 padding: 25px;
 margin: 25px;
 font-family:Roboto;
 justify-content: flex-start;
 opacity:0.8;
}
h2{
  display: flex;
}
