.done{
  color:rgb(4, 173, 251);
}
.not-done{
color: red;
}
.my-activity{
  display: flex;
  flex-direction: column;
  background-color: #ffeaa9;
 width: 300px;
 border: 1px solid #fbfbfc;
 border-radius: 10px;
 padding: 25px;
 margin: 25px;
 justify-content: flex-start;
 opacity:0.8;
}
.activity{
  font-weight: bold;
  display: flex;
  margin-top: 5px;
}
h2{
  display: flex;
  font-family: 'lora' , lato ;
  color:#f94274;
}

h3{
  display: flex;
  font-family: 'lora' , lato ;
  color:#be2c53;
}

img{
  margin-right: 10px;
}
