.companyContact{
    /* display: flex;
    flex-direction: column;*/
    border: 3px solid #C72D65;
    border-radius: 20px;
    /* width: 17%;
    margin: 1% 0%;
    padding: 2%; */
 }

 .companyContact h3  {
    color: #153C59;
    padding-bottom:3%;
 }

 .companyContact h4  {
    color: #153C59;
 }

.companyContact div {
    padding-top: 15px;
    padding-bottom: 5px;
}

span{
    font-size: 14pt;
    color: #153C59;
}

.contactItem span{
    width: 90%;
    display: inline-block;
    display: flex;
    justify-content: space-around;
}

