.companyContact{
    display: flex;
    flex-direction: column;
    border: 1.5px solid #ffffff;
    border-radius: 20px;
    width: 85%;
    margin: 1% 2%;
    padding: 6%;
    align-items: flex-start;
    background-color: #ffeaa9;
 }

 .companyContact h3  {
    color: #153C59;
    padding-bottom:3%;
    align-self: center;
 }

 .companyContact h4  {
    color: #153C59;
    align-self: center;
 }

.companyContact div {
    padding-top: 15px;
    padding-bottom: 5px;
}

span{
    font-size: 14pt;
    color: #153C59;
}

.contactItem span{
    width: 90%;
    display: inline-block;
    display: flex;
    justify-content: space-around;
}

