.companyDescription{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 20%;
 
}

.companyDescription div {
    padding-top: 15px;
    padding-bottom: 5px;

}

span{
    font-size: 16pt;
}

.contactItem{
    display: flex;
    margin-left: 20px;
}


