.circlepar {
    width: 200px;
    height: 200px;
}

.profileContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    justify-items: stretch;
    align-items: stretch;
    align-content: space-between;
    padding-top: 10px;

}

.profileItem {
    background-color: #ffeaa9;
    border: 2px solid #fbfbfc;
    justify-self: stretch;
    align-self: stretch;
    padding: 20px;
    text-align: start;
}

.persent1 {}

.profileItem ul {
    list-style: inside;
}

.profileItem h3 {
    font-family: 'lora', lato;
    color: #f94274;
    margin-bottom: 15px;
}

.profileItem span {
    font-size: 14pt;
}

.profileItem p {
    font-size: 14pt;
}

.profileItem:first-of-type   {
     display: flex;
     flex-direction: column;
     justify-content: center;
     
}

.profileItem:first-of-type  p  {
     text-align: center;
    line-height: 70px;
}

.link1 {
    font-size: 18pt;
}