.find{
  display: flex;
  flex-direction: column;
  background-color: #E0E0E0;
 width: 300px;
 border: 1px solid #011936;
 border-radius: 10px;
 padding: 25px;
 margin: 25px;
 opacity:0.8;
}

.button{
margin-top: 10px;
  width:150px;
   align-self: center!important;
   width: 50%;
 }

select{
  margin-top: 10px;
  color: white;
  background-color: #5d698a;
  width: 50%;
  height: 25px;
}
