.find{
  display: flex;
  flex-direction: column;
  background-color: #ffeaa9;
  width: 100%;
  border: 1px solid #fbfbfc;
  border-radius: 10px;
  padding: 25px;
  margin: 25px;
  opacity:0.8;
  align-items: center;
}

.find h2 {
  font-family: 'lora' , lato ;
  color:#f94274;
  margin-bottom: 15px;
}

.search-button{
  width:40%;
  align-self: center!important;
  height: 40px;
  background-color: #e55987!important;
  color: #FFF;
  border: none;
  border-radius: 4px;
  outline: none;
  margin-top: 25px;
 }

select{
  margin-top: 10px;
  color: white;
  background-color:#FFF;
  width: 65%;
  height: 45px;
  border: none;
  border-radius: 4px;
  font-family: 'lato', sans-serif;
  font-size: 20px;
  outline: none;
}

select:focus {
  background-color: #fb6698;
  color: rgb(6, 16, 36);
}

#location-inp {
  height: 45px;
  width: 65%;
  border-radius: 4px;
  border:none;
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'lato', sans-serif;
  font-size: 20px;
}

#location-inp:focus {
  background-color: #fb6698;
  color: rgb(6, 16, 36);
}