.dash-board{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub-div{
  display: flex;
  flex-direction: row;
}
.grand-div{
  display: flex;
  justify-content: center;
  background-color: grey;
  background-image: url("./images/inspiringgirls.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
