.dash-board{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub-div{
  display: flex;
  flex-direction: row;
}
.grand-div{
  display: flex;
  justify-content: center;
  background-color: #57c9c078;
}

.starr{
  margin-left: 128px;
}
.file-upload{
  background-color: #ece9b4;
}
.upload-zone{
  background-color:#ace5e2
}
