.dash-board{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}
.sub-div{
  display: grid;
  grid-template-columns: 34% 95%;
  column-gap: 170px;
}
.grand-div{
  display: flex;
  justify-content: space-between;
  background-color: #57c9c078;

}
.file-upload{
  background-color: #ece9b4;
}
