.personal-details1 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    align-items: center;
}

.personal-details1-h {
    font-family: 'lato' , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #153C59;
    text-align: center;
    margin-bottom: 25px;
}

.personal-details1 p{
    font-family: 'lato',sans-serif;
    color: rgb(15, 42, 63);
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.special-txt {
    font-size: 14px; 
}

.personal-details1-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 189px;
    margin-bottom: 10px;
}

.personal1-content1 {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 465px;
    padding-right: 70px;
    margin-right: 117px;
}

.personal1-content2 {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 555px;
}

.personal-details1 textarea {
    width: 300px;
    height: 100px;
    background: #FFFFFF;
    border: 1px solid #153C59;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0;
    text-align: left;
    padding: 5px;
    outline: none;
    font-family: lato , sans-serif;
    font-size: 15px;
    color: rgb(15, 42, 63);
}

.drop-zone {
    box-sizing: border-box;
    border: 1px solid #153C59;
    border-radius: 4px;
    width: 350px;
    height: 42px;
    font-size: 16px;
    padding: 10px;
    color: grey;
    cursor: pointer;
    text-align: start;
    outline: none;
    background-color: #FFFFFF;  
}

.select-input {
    display: inline-grid;
    height: 42px;
    width: 350px;
    cursor: pointer;
}
.select-input > div{
    border: 1px solid
}

.shape {
    font-family: 'kalam', cursive;
    font-size: 60px;
    margin-top: 32px;
    margin-left: 33px
}