.PersonalInfo{
  display: flex;
  flex-direction: column;
  background-color: #ffeaa9;
  width: 300px;
  border: 1px solid #fbfbfc;
  border-radius: 10px;
  padding: 25px;
  margin: 25px;
  justify-content: flex-start;
  opacity:0.8;
  margin-left: 20px;
}
.info{
  border-bottom: 1px solid white;
  padding: 2px;
  margin: 2px;
  display: flex;
}

.img img{
  height: 20px;
  width:20;
  display: flex;
}
.img{
  display: inline;
  border-bottom: 1px solid white;
  padding: 3px;
  margin: 3px;
  display: flex;
}
.progress-outer{
  background-color: #ffffff;
  position: relative;
  width: 250Px;
  height: 15Px;
  margin-right: 10px;
  align-self: center;

}
.progress-inner{
  background-color: rgb(60, 214, 241);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.PersonalInfo h2 {
  font-family: 'lora' , lato ;
  color:#f94274;
}
